<div class="overflow-auto scrollbar h-96 mt-10 relative max-w-screen-md w-full mx-auto">
  <table class="border-separate bg-zinc-200 w-full">
    <thead class="bg-zinc-400 text-white text-xs md:text-base sticky top-0">
      <tr>
        <th class="p-2 w-10">Prioridade</th>
        <th class="p-2 w-28">Título</th>
        <th class="p-2 w-48">Responsável</th>
        <th class="p-2">Ações</th>
      </tr>
    </thead>
        <tbody class="bg-zinc-200">
          @for(task of tasks; track task.id){
            <tr class="text-xs h-20 md:text-base hover:bg-zinc-100 duration-300">
              <td class="text-center">{{task.priority}}</td>
              <td class="text-center truncate">
                <div class="overflow-hidden w-20 md:w-32 mx-auto">
                  {{task.title}}
                </div>
              </td>
              <td class="text-center truncate">
                <div class="overflow-hidden w-20 md:w-32 mx-auto">
                  {{task.responsibleUser}}
                </div>
              </td>
              <td class="md:flex h-20 max-md:flex-col items-start md:items-center md:justify-evenly">
                <button class="max-md:w-full text-start">Editar</button>
                <button type="button" (click)="task.id && removeTask(task.id)" class="max-md:mt-2">Excluir</button>
                <button class="max-md:mt-2">Concluir</button>
              </td>
            </tr>
          }@empty {
            <h2 class="absolute top-44 left-72">Começe a criar tarefas...</h2>
          }
        </tbody>
  </table>
</div>

<div class="bg-zinc-400 flex items-center justify-between p-2 w-full max-w-screen-md mx-auto">
  <p class="max-md:text-xs">10 de 228 items</p>
  <span class="max-md:text-xs">Página 1 de 485</span>
  
  <div class="max-md:text-xs">
    <button>icon</button>
    <button>icon</button>
    <button>icon</button>
    <button>icon</button>
  </div>
</div>
