<div class="overflow-auto scrollbar h-96 mt-10 relative max-w-screen-md w-full mx-auto border-x border-zinc-400">
  <table class="border-separate bg-zinc-400 w-full">
    <thead class="bg-zinc-500 text-white text-xs md:text-base sticky z-10 top-0">
      <tr>
        <th class="p-2 w-10">Prioridade</th>
        <th class="p-2 w-28">Título</th>
        <th class="p-2 w-48">Responsável</th>
        <th class="p-2">Ações</th>
      </tr>
    </thead>
    <tbody class="bg-zinc-400">
      <ng-container *ngIf="tasksSearch.length > 0; else originalTasks">
        <tr *ngFor="let task of tasksSearch" class="text-xs h-20 md:text-base hover:bg-zinc-100 duration-300">
          <td class="text-center relative">
            {{ getPriorityText(task.priority) }}
            <button (click)="openModal(task)" class="absolute bottom-0 right-0 hover:text-green-500">
              <mat-icon class="text-lg">visibility</mat-icon>
            </button>
          </td>
          <td class="text-center truncate">
            <div class="overflow-hidden w-20 md:w-32 mx-auto">
              {{ task.title }}
            </div>
          </td>
          <td class="text-center truncate">
            <div class="overflow-hidden w-20 md:w-32 mx-auto">
              {{ task.responsibleUser }}
            </div>
          </td>
          <td class="md:flex h-20 max-md:flex-col items-start md:items-center md:justify-evenly">
            <button type="button" (click)="editTask(task)" class="max-md:w-full text-start hover:text-green-500">Editar</button>
            <button type="button" (click)="task.id && removeTask(task.id)" class="max-md:mt-2 hover:text-green-500">Excluir</button>
            <button type="button" (click)="task.id && completeTask(task.id)" class="max-md:mt-2 hover:text-green-500">Concluir</button>
          </td>
        </tr>
      </ng-container>
      <ng-template #originalTasks>
        @for(task of tasks; track task.id){
          <tr *ngIf="task.status === statusTask" class="text-xs h-20 md:text-base hover:bg-zinc-100 duration-300">
            <td class="text-center relative">
              {{ getPriorityText(task.priority) }}
              <button (click)="openModal(task)" class="absolute bottom-0 right-0 hover:text-green-500">
                <mat-icon class="text-lg">visibility</mat-icon>
              </button>
            </td>
            <td class="text-center truncate">
              <div class="overflow-hidden w-20 md:w-32 mx-auto">
                {{ task.title }}
              </div>
            </td>
            <td class="text-center truncate">
              <div class="overflow-hidden w-20 md:w-32 mx-auto">
                {{ task.responsibleUser }}
              </div>
            </td>
            <td class="md:flex h-20 max-md:flex-col items-start md:items-center md:justify-evenly">
              <button type="button" (click)="editTask(task)" class="max-md:w-full text-start hover:text-green-500">Editar</button>
              <button type="button" (click)="task.id && removeTask(task.id)" class="max-md:mt-2 hover:text-green-500">Excluir</button>
              <button type="button" (click)="task.id && completeTask(task.id)" class="max-md:mt-2 hover:text-green-500">Concluir</button>
            </td>
          </tr>
        }
      </ng-template>
    </tbody>
  </table>
</div>

<div class="bg-zinc-400 flex items-center justify-between p-2 w-full max-w-screen-md mx-auto">
  <span class="max-md:text-xs text-white">concluído {{ totalTasksDone }}</span>
  <span class="max-md:text-xs text-white">total {{ totalTasks }}</span>
  <span class="max-md:text-xs text-white">não concluído {{ totalTasksInProgress }}</span>
</div>
